
body {
  font-family: 'Merriweather', serif;
  text-align: center;
  margin: 0px;
  color: #40514E;
}


h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}
h2{
  color: #66BFBF;
  font-weight: normal;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;

}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;

}
p {
    line-height: 2 ;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a:hover {
  color: #EAF6F6;
}

hr{
  border-style: dotted;
  border-color: #EAF6F6;
  height: 0px;
  width: 3%;
  border-top-width:10px;
}
.top-container{
  background-color: #BFFFF0;
  position: relative;
  padding: 100px;
}

.skill-row {
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;


}
.middle-container{
  margin: 100px 0;
}
.bottom-container{

  }
  .contact-me{
    margin-bottom: 3.125rem;
    margin-left: auto;
    align-content: center;
  }

.Pro{
  text-decoration:underline;
  }

  .intro{
    width: 30%;
    margin: auto;
  }
.bottom-cloud{
  position:absolute ;
left: 12.5rem;
}

.top-cloud{
  position:absolute ;
  right: 12.5rem;

}
.sebasimg{
  margin: 10px;
  height: 8.12rem;
}
.e {
  margin-bottom: 60px;
  float: left;
  padding: 0 30px 0 30px;
  width: 25%;
}
.computer{
  margin-bottom: 70px;
  float: right;
  padding: 0 30px 0 30px;
  width:25%;
}
.skill-row{
  margin-bottom: 200px;
}


.bottom-container{
background-color: #66BFBF;
padding-top:2.5rem;
padding-bottom: 1.25rem;

}

.sebas-color {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
}

.footer-twitter{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #f5fafa;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.send-email{
  margin-bottom:3.125rem;
}
